{% extends "layouts/main.html" %}

{% block content %}
  <div class="container">
    <h1>Список что нужно сделать</h1>
    <ul>
      <li>Форум (в процессе) <span class="label label-primary">30%</span></li>
      <li>Профайл пользователей <span class="label label-warning">0%</span></li>
      <li>Личные сообщения наподобии в вк <span class="label label-warning">0%</span></li>
      <li>Общий чат <span class="label label-warning">0%</span></li>
      <li>Турниры <span class="label label-warning">0%</span></li>
    </ul>
    <h1>Ищем таланты =)</h1>
    <ul>
      <li><a href="mailto:ravend6@gmail.com">Дизайнер</a></li>
      <!-- <li>HTML, CSS, twitter bootstrap, верстка</li> -->
    </ul>
  </div>
{% endblock %}
